html, body {
  font-weight: 300;
  font-family: 'Lato', Calibri, Arial, sans-serif;
}

a, a:link, a:hover, a:visited {
  color: white;
  text-decoration: none;
}

.home, .page {
  text-align: center;
  color: white;
  margin-top: 15%;

  label {
    font-size: 1.4em;
  }
}

.img-logo {
  margin-top: 50px;
}

.body-1 {
    background-color: $color_primary;
}

.body-2 {
    background-color: #EDC951;
}

.body-3 {
    background-color: #6C5B7B;
}

.body-4 {
    background-color: #8EBE94;
}

.body-5 {
    background-color: #69a776;
}
