.links {
  color: #fff;
  text-align: center;
}

.object-link {
  width: 300px;
  text-align: left;
  // background: #FF9C5B;
  margin: 0 auto;
  padding-top: 10px;


  a {
    font-size: 1.54em;
    margin: 0 10px 0 10px;
    border-bottom: 2px solid #fff;
    -webkit-transition: background-color 0.2s linear;
    -moz-transition: background-color 0.2s linear;
    transition: color 0.2s linear, background-color 0.2s linear;
    &:hover {
      text-decoration: none;
      background-color: rgba(255, 255, 255, 1);
      color: #000;


    }
  }

  p {
    // background: #F5634A;
    color: #fff;
    padding: 10px;
  }
}
