#mc_embed_signup{
  width: 300px;
  margin: 0 auto;
  clear:left;
  color: rgba(0,0,0,0.45);
  font-family: 'Lato', Calibri, Arial, sans-serif;

  .mc-field-group input {
    background: #26C281;
    border: none;
  }

  div.mce_inline_error {
    margin: 0 !important;
    padding: 5px 10px;
    background-color: transparent !important;
    z-index: 1;
    color: rgba(0,0,0,0.45) !important;
    border-radius: 0px 0px 10px 10px;
  }
}
